## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## Visual Studio
.vs/
*.sln.ide/
launchSettings.json

## JetBrains Rider
.idea/
*.sln.iml

## SQLite databases
*.db
*.db-shm
*.db-wal

## OS files
.DS_Store
Thumbs.db
